<div class="user-detail">
      <div class="image">
        <img class="user-image" src="<%= @post.user.photo %>" alt="user photo">
      </div>
      <div class="user-info">
        <h1 class="user-name"><%= @user.name %></h1>
        <h3 class="post-count">Number of posts: <%= @user.posts_counter %></h3>
      </div>
    </div>
    <div class="add-new-form">
      <%= link_to "Add New Post", new_user_post_path, class: 'btn' %>
    </div>
    <div class="posts">
        <%@posts.each do |post|%>
            <%= render 'shared/post', post: post%>
        <%end%>
    </div>
    <div class="comments">
         <% @posts.each do |comment| %>
            <p><%= comment.user.name%> : <%= comment.text %> </p>
        <% end %>
    </div>
    <button type='submit'>Pagination</button>
</div>