<h1>Create a Post </h1>

    <%= form_with model: @post, url: new_user_post_path do |form| %>

        <div class="p-title" >
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>

        <div class="p-text" >
            <%= form.label :text %>
            <%= form.text_area :text %>
        </div>
        
        <div class="p-submit" >
            <%= form.submit "Add Post" %>
        </div>
  
    <% end %>